[submodule "alvr/openxr-client/alxr-engine-sys/cpp/ALVR-OpenXR-Engine"]
	path = alvr/openxr-client/alxr-engine-sys/cpp/ALVR-OpenXR-Engine
	url = https://github.com/korejan/ALVR-OpenXR-Engine.git
[submodule "alvr/server/cpp/ALVR-common/nanors"]
	path = alvr/server/cpp/ALVR-common/nanors
	url = https://github.com/korejan/nanors.git
